
@{
    ViewData["Title"] = "Student Dashboard";
}
<h2>Welcome, @User.Identity.Name</h2>
<p>You can register for Admission here:</p>
<a asp-action="Register" class="btn btn-primary">Go to registeration form</a>
