@model NewStudentAdmissionSystem.Models.StudentApplication

@{
    ViewData["Title"] = "Registration Success";
}
<h2>Registration Successful</h2>
<p>Your Application number is: <strong>@ViewBag.ApplicationNumber</strong></p>
