@model NewStudentAdmissionSystem.Models.StudentApplication

@{
    ViewData["Title"] = "Add Student";
    Layout = "_AdminLayout";
}
<div class="account-container">
    <div class="account-box">
        <h2>Student Registration</h2>
        <form asp-action="Register" asp-controller="Student" method="post">
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label for="FirstName">First Name</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="LastName">Last Name</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="EmailAddress">Email Address</label>
                <input asp-for="EmailAddress" class="form-control" />
                <span asp-validation-for="EmailAddress" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="PhoneNumber">Phone Number</label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="DateOfBirth">Date of Birth</label>
                <input asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="AcademicInfo">Certificate for Application</label>
                <input asp-for="AcademicInfo" class="form-control" />
                <span asp-validation-for="AcademicInfo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CourseId">Select Course</label>
                <select asp-for="CourseId" asp-items="ViewBag.Courses" class="form-control">
                    <option value="">-- Select a Course --</option>
                </select>
                <span asp-validation-for="CourseId" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Submit Application</button>
        </form>
    </div>
</div>













@* @section Scripts {
    <partial name="_ValidationScriptsPartial" />
} *@