@model NewStudentAdmissionSystem.Models.StudentApplication

@{
    ViewData["Title"] = "Delete Student";
    Layout = "_AdminLayout";
}
<h3>Are you sure you want to delete this Student</h3>

<p><strong>Name: </strong>@Model.FirstName @Model.LastName </p>
<p><strong>Application Number: </strong>@Model.ApplicationNumber</p>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <input type="submit" class="btn btn-danger" value="Delete" />

</form>



