@model NewStudentAdmissionSystem.Models.StudentApplication

@{
    ViewData["Title"] = "Registration Success";
}
<h2>Registration Successful</h2>
<p>Your Application number is: <strong>@ViewBag.ApplicationNumber</strong></p>

<p><strong>Kindly save your application number as it would be used to check your admission status</strong></p>

